html, body {margin:0;padding:0;font-family: Helvetica, sans-serif;height:100%;}

/*
.disabled {display:none;}

@keyframes fade-up-down {
	0% {opacity:0;}
	25% {opacity:0.9;}
	35% {opacity:1;}
	50% {opacity:0.8;}
	100% {opacity:0;}
}
@-webkit-keyframes fade-up-down {
	0% {opacity:0;}
	25% {opacity:0.9;}
	35% {opacity:1;}
	50% {opacity:0.8;}
	100% {opacity:0;}
}
.scroll-indicator {
	position:absolute;
	left:200px;
	right:0;
	z-index: -1;
	height:100%;
	background-color: rgba(0,0,0,0.2);
	box-shadow: inset 4px 4px 15px rgba(255,255,255,0.7), inset -4px -4px 15px rgba(255,255,255,0.7);
	opacity:1;
	animation: fade-up-down 4s linear;
	-webkit-animation: fade-up-down 4s linear;
	transition: left 0.5s ease-in-out;
}
.scroll-indicator.fade {
	opacity:0;
}

.addsong-form {
	display:none;
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	min-height:100%;
	z-index: 100;
	background: white;
	padding:10px;
	border:solid 1px #CCC;
}

.song-list-search {
	position:fixed;
	top:0;
	left:0;
	width:200px;
}
*/.song-list {
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	width:190px;
	overflow-y:scroll;
	list-style:none;
	margin:0;
	padding:10px 0 10px 10px;
	border-right:1px solid #CCC;
	font-size: 0.8em;
	transition: all 0.5s ease-in-out;
}

.song-details {
	padding-left: 210px;
}

/*.song-list-item.pending {
	border-left:5px solid grey;
}
.song-list-item.selected {
	font-weight:bold;
}
.song-list-item {
	padding: 5px;
}
.song-ben {background:#BDF;}
.song-masumi {background:#c6b6fa;}
.song-benmasumi {background:orange;}
.song-list-item .artist {
	font-style: italic;
}
.song-list-item .artist:before {content:" - ";}
.song-list-item:hover {
	background: #DDD;
}

.song-detail {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:210px;
	transition: all 0.5s ease-in-out;
}
.song-detail .title {margin-bottom: 0;}

.song-detail .lyrics {
	font-size: 1.3em;
	padding:10px 0;
	margin-top:10px;
	border-top:solid 1px rgba(0,0,0,0.3);
	border-bottom:solid 1px rgba(0,0,0,0.3);
	white-space: pre-line;
	-webkit-column-width: 21em;
	-webkit-column-rule: 1px solid rgba(0,0,0,0.4);
}

.editing .song-detail-item {margin-top:5px;}
.editing .value {
	background-color: #eea;
	padding: 0 10px;
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
	        box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.editing .lyrics .value {padding: 0;}
.editing .value:empty {
	padding: 0 20px;
	display: inline-block;
}

.editing .disabled {display: block;}

.fullscreen .song-detail {
	left:0;
	padding-left:10px;
	padding-right:10px;
}
.fullscreen .scroll-indicator {
	left:0;
}
.fullscreen .song-list {
	left: -200px;
}*/