<!DOCTYPE html>
<html>
  <head><% include partials/template/head %></head>
  <body>
    <% include partials/template/header %>

    <ul id="song-list" class="song-list">
        <% include partials/content/song-list %>
    </ul>

    <div id="song-detail" class="song-detail">
        <% include partials/content/song-detail %>
    </div>

    <% include partials/template/footer %>
  </body>
</html>
