<!DOCTYPE html>
<html>
  <head><% include partials/template/head %></head>
  <body>
    <% include partials/template/header %>

    <ul class="song-list">
        <% include partials/content/song-list %>
    </ul>

    <div class="current-song">
        <% include partials/content/song-detail %>
    </div>

    <% include partials/template/footer %>
    <% include partials/template/jsdefaults %>
  </body>
</html>
