<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<title>Song Tracker</title>

<!-- Our CSS File -->
<link rel="stylesheet" href="/stylesheets/style.css">

<script data-main="/scripts/main" src="/scripts/require.js"></script>
