<meta charset="UTF-8">
<title>Song Tracker</title>

<!-- Our CSS File -->
<link rel="stylesheet" href="/stylesheets/style.css">

<!-- Our JavaScript Libraries, and our code -->
<!-- <script src="lib/angular.min.js"></script> -->
