<button type="button" id="addsong-start">Add A Song</button>
<form id="addsong-form" class="addsong-form">
    <label for="newsong-title">Title: </label><input id="newsong-title"><br>
    <label for="newsong-artist">Artist: </label><input id="newsong-artist"><br>
    <label for="newsong-key">Key: </label><input id="newsong-key"><br>
    <label for="newsong-capo">Capo: </label><input id="newsong-capo"><br>
    <label for="newsong-readiness">Readiness: </label><input id="newsong-readiness"><br>
    <label for="newsong-whose">Whose: </label><input id="newsong-whose"><br>
    <label for="newsong-instruments">Instruments: </label><input id="newsong-instruments"><br>
    <textarea id="newsong-lyrics" rows="30" cols="60">Lyrics Go Here</textarea><br>
    <button type="submit">Save</button>
    <button type="button" id="addsong-cancel">Cancel</button>
</form>